In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('adult.csv')
data.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0.0,0.0,30.0,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0.0,0.0,40.0,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103.0,0.0,32.0,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,10.0,United-States,<=50K

In [4]:
data.shape

(9615, 15)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9615 entries, 0 to 9614
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              9615 non-null   int64
 1   workclass        9615 non-null   object
 2   fnlwgt           9615 non-null   int64
 3   education        9615 non-null   object
 4   educational-num  9615 non-null   int64
 5   marital-status   9615 non-null   object
 6   occupation       9615 non-null   object
 7   relationship     9615 non-null   object
 8   race             9614 non-null   object
 9   gender           9614 non-null   object
 10  capital-gain     9614 non-null   float64
 11  capital-loss     9614 non-null   float64
 12  hours-per-week   9614 non-null   float64
 13  native-country   9614 non-null   object
 14  income           9614 non-null   object
dtypes: float64(3), int64(3), object(9)
memory usage: 1.1+ MB

In [6]:
data.isnull().sum(0)

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               1
gender             1
capital-gain       1
capital-loss       1
hours-per-week     1
native-country     1
income             1
dtype: int64

In [7]:
per_missing=data.isnull().sum()*100/len(data)
per_missing

age                0.0000
workclass          0.0000
fnlwgt             0.0000
education          0.0000
educational-num    0.0000
marital-status     0.0000
occupation         0.0000
relationship       0.0000
race               0.0104
gender             0.0104
capital-gain       0.0104
capital-loss       0.0104
hours-per-week     0.0104
native-country     0.0104
income             0.0104
dtype: float64

In [9]:
average_age = data['age'].mean()
print("Average age:", average_age)

Average age: 38.732397295891836

In [10]:
most_common_occupation = data[data['income'] == '>50K']['occupation'].mode()[0]
print("Most common occupation among individuals earning more than 50K:", most_common_occupation)

Most common occupation among individuals earning more than 50K: Exec-managerial

In [12]:
married_percentage = (data[data['income'] == '<=50K']['marital-status'] == 'Married-civ-spouse').mean() * 100
print("Percentage of individuals who are married among those earning less than or equal to 50K:", married_percentage)

Percentage of individuals who are married among those earning less than or equal to 50K: 32.327351821642196

In [14]:
capital_gains_gt_5000 = data[data['capital-gain'] > 5000].shape[0]
print("Number of individuals with capital gains greater than 5000:", capital_gains_gt_5000)

Number of individuals with capital gains greater than 5000: 473

In [15]:
average_hours_per_week_gt_50K = data[data['income'] == '>50K']['hours-per-week'].mean()
print("Average number of hours per week worked by individuals earning more than 50K:", average_hours_per_week_gt_50K)

Average number of hours per week worked by individuals earning more than 50K: 45.651461470327725

In [16]:
gender_proportion = data['gender'].value_counts(normalize=True) * 100
print("Proportion of males and females in the dataset:\n", gender_proportion)

Proportion of males and females in the dataset:
 gender
Male      66.6632
Female    33.3368
Name: proportion, dtype: float64

In [17]:
average_age_by_marital_status = data.groupby('marital-status')['age'].mean()
print("Average age of individuals grouped by marital status:\n", average_age_by_marital_status)

Average age of individuals grouped by marital status:
 marital-status
Divorced                 43.226401
Married-AF-spouse        31.111111
Married-civ-spouse       43.645461
Married-spouse-absent    41.092308
Never-married            28.054972
Separated                39.768456
Widowed                  59.975758
Name: age, dtype: float64

In [19]:
average_age_private_sector = data[data['workclass'] == 'Private']['age'].mean()
print("Average age of individuals who work in the private sector:", average_age_private_sector)

Average age of individuals who work in the private sector: 37.101308183754185

In [20]:
missing_occupation_count = data[data['occupation'] == '?'].shape[0]
print("Number of individuals with missing values in their occupation:", missing_occupation_count)

Number of individuals with missing values in their occupation: 585

In [22]:
education_income_relationship = data.groupby('income')['educational-num'].mean()
print("Relationship between educational-num and income:\n", education_income_relationship)

Relationship between educational-num and income:
 income
<=50K     9.624660
>50K     11.563773
Name: educational-num, dtype: float64

What is the average age of individuals in the dataset?

What is the most common occupation among individuals who earn more than 50K?

What is the percentage of individuals who are married among those who earn less than or equal to 50K?

How many individuals have capital gains greater than 5000?

What is the average number of hours per week worked by individuals who earn more than 50K?

What is the distribution of education levels among individuals who earn more than 50K?

What is the average capital gain among individuals who are married?

How many unique native countries are represented in the dataset?

What is the proportion of males and females in the dataset?

What is the average age of individuals grouped by their marital status?

Among individuals who work in the private sector, what is the average age?

How many individuals have missing values (represented as '?') in their occupation?

What is the relationship between educational-num and income?